<div *ngIf="response" class="card">
  <div class="card-body" style="background-color: #fcf6f6">
    <h5>Random User API</h5>
    <p class="card-text"><strong>Seed:</strong> {{ response.info.seed }}</p>
    <p class="card-text"><strong>Results:</strong> {{ response.info.results }}</p>
    <p class="card-text"><strong>Version:</strong> {{ response.info.version }}</p>
  </div>
</div>
<br><br>

<table class="table table-striped">
  <thead class="table-light">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Image</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Address</th>
      <th scope="col">Phone</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of response?.results; let i = index">
      <td>{{ user.id.substr(0, 7) }}</td>
      <td><img [src]="user.imageUrl" width="45" height="45" style="border-radius: 50%;"  alt="user.firstName"></td>
      <td>{{ user.firstName }} {{ user.lastName }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.address }}</td>
      <td>{{ user.phone }}</td>
      <td>
        <button [routerLink]="['/user/', user.id]" type="button" class="btn btn-secondary">View</button>
      </td>
    </tr>
  </tbody>
</table>